extends layout

block menu
    div(class="row")
            div(class="row")
                div(class="input-field col s12" id="menu")
                    form(method='get' action='/search')
                        label
                        input(id="search" name="q" type="text" value="" class="materialize-textarea")
                        select(name="c" class="browser-default countselect")
                            option(value="1") 1
                            option(value="5") 5
                            option(value="10") 10
                        button(class="btn btn-primary sub" type='submit') #search

    div(class="hint")
      p Type your search keyword up here !

block feed

    ul(class="collection")
        if rFeed.length
            each feed in rFeed
                li(class="collection-item avatar" id="reddit-item")
                    img(src="../images/reddit.png" alt="" class="circle")
                    span(class="title") #{feed.entryTitle}
                    p Submitted by : #{feed.entryAuthor}
                    a(href=feed.entryUrl class="secondary-content")
                        i.material-icons trending_flat
        else
            p Pas de post reddit pour cette recherche

        if tFeed.length
            each feed in tFeed
                li(class="collection-item avatar")
                    img(src="../images/twit.png" alt="" class="circle")
                    span(class="title") #{feed.entryTitle}
                    p Submitted by #{feed.entryAuthor}
                    a(href="https://twitter.com/statuses/" + feed.entryUrl class="secondary-content")
                        i.material-icons trending_flat
        else
            p Pas de post twitter pour cette recherche
                
block creds
  div(class="row")
    div(class="box")
      h4 Welcome
      p Reddit nickname
      p(class="nick") #{rUsername}
      p Twitter nickname
      p(class="nick") #{tUsername}
